buoi6_NguyenThinhKhang/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Gốc -->
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>

                <!-- Danh mục -->
                <xs:element name="categories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="id" type="xs:ID" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <!-- 🔒 Ràng buộc: id category là duy nhất -->
                    <xs:unique name="uniqueCategoryId">
                        <xs:selector xpath="category" />
                        <xs:field xpath="@id" />
                    </xs:unique>
                </xs:element>

                <!-- Sản phẩm -->
                <xs:element name="products">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="price">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:decimal">
                                                        <xs:attribute name="currency"
                                                            type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="stock" type="xs:nonNegativeInteger" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required" />
                                    <xs:attribute name="categoryRef" type="xs:IDREF" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <!-- 🔒 Ràng buộc: id product là duy nhất -->
                    <xs:unique name="uniqueProductId">
                        <xs:selector xpath="product" />
                        <xs:field xpath="@id" />
                    </xs:unique>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- 🔗 Ràng buộc: categoryRef của product phải tồn tại trong category/@id -->
        <xs:key name="categoryKey">
            <xs:selector xpath="categories/category" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="productCategoryRef" refer="categoryKey">
            <xs:selector xpath="products/product" />
            <xs:field xpath="@categoryRef" />
        </xs:keyref>

    </xs:element>

</xs:schema>