buoi3_NguyenThinhKhang/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/library"
    xmlns="http://example.com/library"
    elementFormDefault="qualified">

    <!-- Định nghĩa phần tử book -->
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string" />
                <xs:element name="author" type="xs:string" />
                <xs:element name="year" type="xs:gYear" />
                <xs:element name="genre" type="xs:string" />
            </xs:sequence>
            <!-- Thuộc tính id là xs:ID, đảm bảo duy nhất trong toàn tài liệu XML -->
            <xs:attribute name="id" type="xs:ID" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Định nghĩa phần tử library chứa nhiều book -->
    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="book" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>