buoi3_NguyenThinhKhang/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/orders"
    xmlns="http://example.com/orders"
    elementFormDefault="qualified">

    <!-- Định nghĩa product -->
    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="quantity" type="xs:integer" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Định nghĩa order -->
    <xs:element name="order">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="product" maxOccurs="unbounded" />
            </xs:sequence>
            <!-- id của order phải duy nhất toàn bộ tài liệu -->
            <xs:attribute name="id" type="xs:ID" use="required" />
        </xs:complexType>

        <!-- id của product phải duy nhất trong order -->
        <xs:unique name="UniqueProductID">
            <xs:selector xpath="product" />
            <xs:field xpath="@id" />
        </xs:unique>
    </xs:element>

    <!-- Root element orders -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="order" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>