buoi3_NguyenThinhKhang/student_ID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/school"
    xmlns="http://example.com/school"
    elementFormDefault="qualified">
    <!-- Các định nghĩa phần tử sẽ viết ở đây -->
    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="date" type="xs:date" />
                        </xs:sequence>
                        <!-- Thuộc tính id là kiểu xs:ID (mỗi giá trị phải duy nhất trong toàn bộ
                        tài liệu XML) -->
                        <xs:attribute name="id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>